# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]

# Django
*.sqlite3
db.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.coverage
